
doctype html
html
    body
        head
            title Trail Tracker!
            link(rel='stylesheet', href='/style.css')
        h1 My Trail Tracker!!!
        form.formBox(method='POST' aciton='/')
            | Trail Name:
            input(type='text', name:='', trailname='')
            br
            |             Trail Length:
            input(type='text', name:='', traillength='')
            br
            |             Trail Location:
            input(type='text', name:='', traillocation='')
            br
            |             Trail Difficulty:
            input(type='text', name:='', traildifficulty='')
            p#box.textBox
                | Trail Description/Notes:
                br
                textarea(name='trailDescription', cols='25', rows='10', required='required')
                br
                input(type='submit', onclick="submitFileForm" value='Submit')
                input(type='reset' )
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='/public/js/app.js)
     
