body{
    background: forestgreen;
}

h1{
    margin: 0 ;
    color: red;
    text-align: center;
    font-size: 34px;
} 

.submit{
    color: red;
    font-size: 15px;
}

.trailDiffButtons{
    text-align: center;
    margin-bottom: 20px;
}

.trailInfoButtons{
    text-align: center;
    color: black;
    margin: 20px;
}

.descriptionArea{
    text-align: center;
}

.textBox{
    margin-top: 13px;
    text-align: center;
    
}

.formBox{
    width: 50%;
    margin: 0 auto;
    border: solid black 6px;
    background-color: darkseagreen;
}
