/********CSS**********/

/*******Will add more in the future************/


body{
    background: forestgreen;
}

h1{
    margin: 0 ;
    color: royalblue;
    text-align: center;
    font-size: 34px;
} 

.submit{
    font-size: 15px;
}

.trailDiffButtons{
    text-align: center;
    margin-bottom: 20px;
}

.trailInfoButtons{
    text-align: center;
    color: black;
    margin: 20px;
}


}

.formBox{
    width: 50%;
    margin: 0 auto;
    border: solid black 6px;
    background-color: darkseagreen;
}

